@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* SECTION */

section {
  margin: auto;
  max-width: 1440px;
  height: 576px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* LEFT SIDE */

section .left {
  width: 50%;
  height: 100%;
}

section .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT SIDE */

section .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background: #e3cfcf;
}

/* TEXT CONTAINER */

section .right .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 24px;
  text-align: center;
  max-width: 512px;
  max-height: 337px;
}

section .right .text-container .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

section .right .text-container .title h2 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 275;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

section .right .text-container .title p,
section .right .text-container .title p span {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

section .right .text-container .title p span {
  display: none;
}

/* BUTTON */

section .right .text-container button {
  background: #e3cfcf;
  padding: 12px 24px;
  width: 170px;
  height: 52px;
  border: 1px solid #000000;
  cursor: pointer;
}

/* RESPONSIVE */

@media only screen and (max-width: 900px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #e3cfcf;
  }

  section .left {
    width: 100%;
    height: 40%;
  }

  section .left img {
    width: 100%;
    height: 100%;
  }

  section .right .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 343px;
    min-height: 339px;
    padding: 0px;
  }

  section .right .text-container .title {
    width: 100%;
  }

  section .right .text-container .title h2 {
    font-size: 24px;
  }

  section .right .text-container .title p,
  section .right .text-container .title p span {
    font-size: 16px;
  }

  section .right .text-container button {
    padding: 8px 24px;
  }
}

@media only screen and (max-width: 500px) {
  section .left {
    width: 100%;
    height: 300px;
  }

  section .left img {
    width: 100%;
    height: 300px;
  }
}

/* ANIMATION */

.animation {
  animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
