* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin: 2rem auto;
  max-width: 1440px;
  height: 100%;
  display: flex;
}

section img {
  object-fit: cover;
  width: 50%;
}

section .text-container {
  width: 50%;
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(197, 163, 229);
  text-align: center;
  gap: 1rem;
}
