* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
}

section img {
  object-fit: cover;
  width: 50%;
}

section .text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
